samples/
samples2/
standSamples/
samples_good/
samples_good2/
samples_faulty/
samples_faulty2/
tensor_flow_samples/
cutting_inserts/
manual_ver/
test/
traning/
traning_data/
validation/
validation_data/
t_data2.zip
t_data3.zip
test.zip
traning.zip
validation.zip
DATA_SET_1/
DATA_SET_2/
DATA_SET_3/
DATA_SET_4/
DATA_SET_5/
DATA_SET_6/
model_sztuczne_wadliwe/
model_sztuczne_wadliwe2/
model_xception/